
<div class="d-flex justify-content-around mt-5 bg-dark p-5 rounded">
<h1 class="text-center text-white">Add</h1>
    <a href="costumers/new"class="btn bg-primary rounded w-25 text-center text-white fs-4">
        <div >Costumers</div>
    </a>
    <a href="products/new"class="btn bg-danger rounded w-25 text-center text-white fs-4">
        <div >Products</div>
    </a>
    <a href="ecom_orders/new"class="btn bg-success rounded w-25 text-center text-white fs-4">
        <div >Orders</div>
    </a>
</div>

<div>
    <div class="d-flex justify-content-center pt-5">
        Last Transitions
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end">
            Costumers
        </div>
        <div class="col">
            <p>adicionou o mano aqui</p>
            <p>removeu outro mano aqui</p>
            <p>adicionou o mano aqui</p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col d-flex justify-content-end">
            Products
        </div>
        <div class="col">
            <p>adicionou o mano aqui</p>
            <p>removeu outro mano aqui</p>
            <p>adicionou o mano aqui</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end">
            Orders
        </div>
        <div class="col">
            <p>criou novo pedido</p>
            <p>colocou para entrega o pedod X</p>
            <p>concluiu o pedido X </p>
        </div>
    </div>
</div>