
<div class="d-flex justify-content-around mt-5 bg-dark p-5 rounded">
<h1 class="text-center text-white">Add</h1>
    <a href="costumers/new"class="btn bg-primary rounded w-25 text-center text-white fs-4">
        <div >Costumers</div>
    </a>
    <a href="products/new"class="btn bg-danger rounded w-25 text-center text-white fs-4">
        <div >Products</div>
    </a>
    <a href="ecom_orders/new"class="btn bg-success rounded w-25 text-center text-white fs-4">
        <div >Orders</div>
    </a>
</div>