<div class="d-flex justify-content-around mt-5">
    <a href="costumers"class="btn bg-white rounded w-25 text-center">
        <div >Costumers</div>
    </a>
    <a href="#"class="btn bg-white rounded w-25 text-center">
        <div >Products</div>
    </a>
    <a href="ecom_orders"class="btn bg-white rounded w-25 text-center">
        <div >Orders</div>
    </a>
    
</div>