<div class="d-flex justify-content-around mt-5">
    <a href="costumers"class="btn bg-primary rounded w-25 text-center text-white">
        <div >Costumers</div>
    </a>
    <a href="#"class="btn bg-danger rounded w-25 text-center text-white">
        <div >Products</div>
    </a>
    <a href="ecom_orders"class="btn bg-success rounded w-25 text-center text-white">
        <div >Orders</div>
    </a>
    
</div>