<div class='d-flex justify-content-center py-3'>
    <h1>Edit Order</h1>
</div>
<div class='d-flex justify-content-center'>
    <%= render 'form', ecom_order: @ecom_order, btn_submit: 'Salvar' %>
</div>

<%= link_to 'Show', @ecom_order %> |
<%= link_to 'Back', ecom_orders_path %>
