    <div class='d-flex justify-content-center py-3'>
        <h1>New Order</h1>
    </div>
    <div class='d-flex justify-content-center'>
        <%= render 'form', ecom_order: @ecom_order, btn_submit: 'Criar'%>
    </div>
<%= link_to 'Back', ecom_orders_path %>
